@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Ubuntu:wght@400;700&display=swap");

@mixin padding-y($size) {
    padding-bottom: $size;
    padding-top: $size;
}

@mixin margin-y($size) {
    margin-top: $size;
    margin-bottom: $size;
}

@mixin monoscape-font() {
    font-family: "Martian Mono", monospace;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}

// rgb(15 23 42)
$body_background_color: hsl(222, 47%, 11%);
// $background_color: hsl(200, 83%, 5%);

$game_background_color: hsl(61, 29%, 36%);
$game_border_color: lighten($game_background_color, 20%);

$btn_bg_color: hsl(128, 29%, 36%);
$btn_hover_color: lighten($btn_bg_color, 10%);
$btn_border_color: darken($btn_bg_color, 20%);

$red_color: hsl(344, 29%, 36%);
$darker_red_color: darken($red_color, 20%);
$lighter_red_color: lighten($red_color, 10%);

:root {
    --ii_border_radius: 1.5pc;

    @media screen and (max-width: 1000px) {
        --ii_border_radius: 0.85pc;
    }
}

body {
    background-color: $body_background_color;
}

.menu {
    @include padding-y(1.5rem);
    // position: sticky;
    top: 0px;
    background-color: black;
    margin: 0px;
    overflow: hidden;
    &,
    * {
        @include monoscape-font();
        font-family: "Martian Mono", monospace;
    }

    text-align: center;
    font-size: 48px;
    font-weight: bold;

    a {
        text-decoration: none;
        color: white;

        .red-color {
            color: red;
        }

        .nv_a_container {
            display: inline-block;
        }
    }
}

.game-container {
    @include margin-y(5vh);

    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 5vh;

    .game {
        border: $game_border_color solid 6px;
        border-radius: var(--ii_border_radius);
        width: 82vmin;
        height: 82vmin;
        padding: 1vmin;

        @media screen and (max-width: 635px) {
            padding: 2.5vmin;
            width: 100vmin;
            height: 100vmin;
        }

        background-color: $game_background_color;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 0px;
        grid-row-gap: 0px;

        & > .inner-square {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;

            // border: black solid 1px;

            --border-size: 1px;

            --border-left: var(--border-size);
            --border-right: var(--border-size);
            --border-bottom: var(--border-size);
            --border-top: var(--border-size);

            border-left: black solid var(--border-left);
            border-right: black solid var(--border-right);
            border-bottom: black solid var(--border-bottom);
            border-top: black solid var(--border-top);

            @media screen and (min-width: 1200px) and(min-height: 1000px) {
                --border-size: 3px;
            }

            & > input {
                width: 40%;
                height: 40%;

                text-align: center;

                align-self: center;
                justify-self: center;

                background: none;
                outline: none;
                border: none;

                border-bottom: black solid 2px;

                /* Chrome, Safari, Edge, Opera */
                // Remove arrows
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }

                /* Firefox */
                // Remove arrows
                &[type="number"] {
                    -moz-appearance: textfield;
                }

                @media screen and (max-width: 500px) {
                    font-size: 70%;
                }

                @media screen and (min-width: 1200px) and(min-height: 600px) {
                    font-size: 150%;
                }

                @media screen and (min-width: 1200px) and(min-height: 1000px) {
                    font-size: 200%;
                }

                @media screen and (min-width: 2200px) and(min-height: 2000px) {
                    font-size: 400%;
                }
            }
        }
    }

    .btn {
        @include monoscape-font();
        background-color: $btn_bg_color;
        cursor: pointer;

        font-size: 2.4rem;
        font-weight: bold;

        border: $btn_border_color solid 6px;
        border-radius: var(--ii_border_radius);

        width: 70%;
        padding: 1rem;

        transition: all 150ms ease-in-out;

        &:hover {
            background-color: $btn_hover_color;
        }

        @media screen and (min-width: 1800px) and(min-height: 1000px) {
            font-size: 3.7rem;
        }

        &.red {
            background-color: $red_color;
            border-color: $darker_red_color;
            &:hover {
                background-color: $lighter_red_color;
            }
        }
    }
}
