@import url("https://fonts.googleapis.com/css2?family=Martian+Mono:wght@400;700&family=Ubuntu:wght@400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}

:root {
  --ii_border_radius: 1.5pc;
}

@media screen and (max-width: 1000px) {
  :root {
    --ii_border_radius: 0.85pc;
  }
}

body {
  background-color: #0f1729;
}

.menu {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  top: 0px;
  background-color: black;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
}

.menu,
.menu * {
  font-family: "Martian Mono", monospace;
  font-family: "Martian Mono", monospace;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu a .red-color {
  color: red;
}

.menu a .nv_a_container {
  display: inline-block;
}

.game-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5vh;
}

.game-container .game {
  border: #aeaf6e solid 6px;
  border-radius: var(--ii_border_radius);
  width: 82vmin;
  height: 82vmin;
  padding: 1vmin;
  background-color: #767641;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

@media screen and (max-width: 635px) {
  .game-container .game {
    padding: 2.5vmin;
    width: 100vmin;
    height: 100vmin;
  }
}

.game-container .game > .inner-square {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  --border-size: 1px;
  --border-left: var(--border-size);
  --border-right: var(--border-size);
  --border-bottom: var(--border-size);
  --border-top: var(--border-size);
  border-left: black solid var(--border-left);
  border-right: black solid var(--border-right);
  border-bottom: black solid var(--border-bottom);
  border-top: black solid var(--border-top);
}

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  .game-container .game > .inner-square {
    --border-size: 3px;
  }
}

.game-container .game > .inner-square > input {
  width: 40%;
  height: 40%;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  background: none;
  outline: none;
  border: none;
  border-bottom: black solid 2px;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}

.game-container .game > .inner-square > input::-webkit-outer-spin-button, .game-container .game > .inner-square > input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.game-container .game > .inner-square > input[type="number"] {
  -moz-appearance: textfield;
}

.game-container .game > .inner-square > input[data-color="blue"] {
  color: #b2cdb9;
}

@media screen and (max-width: 500px) {
  .game-container .game > .inner-square > input {
    font-size: 70%;
  }
}

@media screen and (min-width: 1200px) and (min-height: 600px) {
  .game-container .game > .inner-square > input {
    font-size: 150%;
  }
}

@media screen and (min-width: 1200px) and (min-height: 1000px) {
  .game-container .game > .inner-square > input {
    font-size: 200%;
  }
}

@media screen and (min-width: 2200px) and (min-height: 2000px) {
  .game-container .game > .inner-square > input {
    font-size: 400%;
  }
}

.game-container .btn {
  font-family: "Martian Mono", monospace;
  background-color: #417648;
  cursor: pointer;
  font-size: 2.4rem;
  font-weight: bold;
  border: #1d3520 solid 6px;
  border-radius: var(--ii_border_radius);
  width: 70%;
  padding: 1rem;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.game-container .btn:hover {
  background-color: #53975c;
}

@media screen and (min-width: 1800px) and (min-height: 1000px) {
  .game-container .btn {
    font-size: 3.7rem;
  }
}

.game-container .btn.red {
  background-color: #76414f;
  border-color: #351d23;
}

.game-container .btn.red:hover {
  background-color: #975365;
}

.game-container .btn.blue {
  background-color: #416c76;
  border-color: #1d3035;
}

.game-container .btn.blue:hover {
  background-color: #538a97;
}

.info-msg {
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
}

.error-msg {
  color: red;
}

.footer {
  text-align: center;
  background-color: black;
  color: white;
  padding: 2rem;
  font-size: 1.6rem;
}
/*# sourceMappingURL=index.css.map */